/*
 * Sprites
 **********************************************************/

$sprite-icons: url('');

/*
 * Colors
 **********************************************************/

$color-white: #fff;
$color-black: #000;

$color-corporate: #e00;
$color-default: #555;

$color-grey: #bbb;
$color-grey-icons: #999;
$color-grey-icons-disabled: #ddd;
$color-grey-dark: #333;
$color-grey-light: #ccc;
$color-grey-carousel: #aaa;
$color-grey-alpha: rgba(0,0,0,.1);

$color-blue-light: #59d;
$color-blue-dark: #26a;

$color-red-light: #f44;
$color-red-dark: #c11;

$color-green-light: #6b3;
$color-green-dark: #380;

$color-yellow-light: #ff6;
$color-yellow-dark: #fc0;

$color-purple: #b4c;

$color-discount-stamps: #ff9a03;
$color-discount-without: #eee;
$color-discount-normal: #f0452a;
$color-discount-newcustomer: #48b2f7;
$color-discount-newcustomer-disabled: #ddd;
$color-discount-code: #f6f6f6;

/*
 * Fonts
 **********************************************************/

$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Roboto Condensed', sans-serif;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

/*
 * CSS Details
 **********************************************************/

@if $jm-domain == "lieferservice_de" {
    $css-radius: 5px;
} @else {
    $css-radius: 2px;
}

/*
 * Mixins
 **********************************************************/

@mixin jm-truncate() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*
 * Prefix Mixins
 **********************************************************/

@mixin jm-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin jm-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@mixin jm-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin jm-gradient($bg1, $bg2) {
    background: $bg1;
    background: -webkit-linear-gradient(top, $bg1 0%, $bg2 100%);
    background:    -moz-linear-gradient(top, $bg1 0%, $bg2 100%);
    background:      -o-linear-gradient(top, $bg1 0%, $bg2 100%);
    background:   linear-gradient(to bottom, $bg1 0%, $bg2 100%);
}

@mixin jm-transition($transition: all 0.3s linear) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin jm-transition-double($transition1, $transition2) {
    -webkit-transition: $transition1, $transition2;
    -moz-transition: $transition1, $transition2;
    -o-transition: $transition1, $transition2;
    transition: $transition1, $transition2;
}

@mixin jm-transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin jm-animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    animation: $animation;
}

@mixin jm-opacity($opacity: 0.5) {
    $opperc: $opacity * 100;
    filter: "alpha(opacity=${opperc})"; /* IE 7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=${opperc})"; /* IE 8 */
    opacity: $opacity;
}