/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/.idea/
/.DS_Store
/page/.DS_Store
/page/default/.DS_Store
/worker/temp/
scripts/server/logger/loggerFiles/*
scripts/server/logger/.loggerFiles/*
page/**/**/*production*.js
page/**/**/*production*.css
page/**/**/*production*.html
page/**/**/*production*.json
**/*-cached.js
**/*-cached.css
bower_components/*
!bower_components/bower.json
node_modules/
yd/
yd/*
steal/
abc
