/*
 * Lightbox (normal)
 **********************************************************/

.yd-jig-lightbox-content {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 99;
  width: 700px;
  margin: 0 0 0 -350px;
  background: #fff;
  box-shadow: 0 0 0 10px rgba(0,0,0,.5);
  border-radius: 5px;
}

.yd-jig-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  background: #fff;
  opacity: 0.8;
}

.yd-jig-lightbox-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #ffffcc;
}

.yd-jig-lightbox-close:hover {
  cursor: pointer;
  background: #002288;
}

.yd-jig-lightbox-close:after {
  content: '\e80f';
  position: absolute;
  top: 1px;
  left: 4px;
  font-size: 16px;
  color: #fff;
}

.yd-jig-lightbox-head {
  min-height: 60px;
  height: auto;
  padding: 0 15px;
  font-size: 20px;
  line-height: 58px;
  border-bottom: 1px solid #ccc;
  background-color: #fafafa;
  cursor: move;
  overflow: auto;
}

.yd-jig-lightbox-body {
  min-height: 50px;
  padding: 20px 15px;
  background: #fff;
  line-height: 140%;
}

.yd-jig-lightbox-body .yd-btn-m {
  margin: 10px 10px 10px 0;
}

/*
 * Lightbox (small)
 **********************************************************/

.yd-jig-lightbox-small-content {
  position: absolute;
  top: 150px;
  left: 50%;
  z-index: 99999;
  width: 400px;
  margin: 0 0 0 -200px;
  background: #fff;
  box-shadow: 0 0 0 10px rgba(0,0,0,.5);
  border-radius: 5px;
}

.yd-jig-lightbox-small-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99998;
  background: #fff;
  opacity : 0.8;
}

.yd-jig-lightbox-small-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #ffffcc;
}

.yd-jig-lightbox-small-close:hover {
  cursor: pointer;
  background: #002288;
}

.yd-jig-lightbox-small-close:after {
  content: '\e80f';
  position: absolute;
  top: 0;
  left: 4px;
  font: 16px fontello;
  color: #fff;
}

.yd-jig-lightbox-small-head {
  height: 60px;
  padding: 0 15px;
  font-size: 18px;
  line-height: 58px;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
  cursor: move;
}

.yd-jig-lightbox-small-body {
  padding: 20px 15px;
  background: #fff;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}

.yd-jig-lightbox-small-body .yd-btn-m {
  margin: 10px 10px 10px 0;
}

.yd-jig-lightbox-small-msg {
  display: inline-block;
  width: 100%;
  margin: 0 0 15px 0;
}