<!-- ########################################################################
     ############ StopWatch HTML ############################################
     ######################################################################## -->

<div class="sw-jig-stopwatch-wrapper">
    <button class="sw-jig-stopwatch-watch-start">start</button>
    <button class="sw-jig-stopwatch-watch-stop">stop</button>
    <button class="sw-jig-stopwatch-watch-reset">lap/reset</button>
    <div class="sw-jig-stopwatch-watch">
        <div class="sw-jig-stopwatch-watch-loader"></div>
        <div class="sw-jig-stopwatch-watch-time"></div>
        <div class="sw-jig-stopwatch-watch-laps">
            <ol>
                <li>
                    <span> </span>
                </li>
            </ol>
        </div>
    </div>
</div>