@import url('http://fonts.googleapis.com/css?family=Orbitron|Roboto:400,500,700|Roboto+Condensed:400,700&subset=latin,latin-ext');

/*
 * Icon Fonts
 **********************************************************/

@font-face {
    font-family: 'fontello';
    src: url('/namespace/media/fonts/fontello.eot');
    src: url('/namespace/media/fonts/fontello.eot#iefix') format('embedded-opentype'),
    url('/namespace/media/fonts/fontello.woff') format('woff'),
    url('/namespace/media/fonts/fontello.ttf') format('truetype'),
    url('/namespace/media/fonts/fontello.svg#fontello') format('svg');
}

/*
 * Icons
 **********************************************************/

@mixin ta-icon {
    font-family: fontello;
    font-weight: normal;
    line-height: 1;
}

/*
 * Animations
 **********************************************************/

@-webkit-keyframes namespace-loader {
    0% {
        @include namespace-transform(rotate(0deg));
    }
    100% {
        @include namespace-transform(rotate(360deg));
    }
}

@-moz-keyframes namespace-loader {
    0% {
        @include namespace-transform(rotate(0deg));
    }
    100% {
        @include namespace-transform(rotate(360deg));
    }
}

@keyframes namespace-loader {
    0% {
        @include namespace-transform(rotate(0deg));
    }
    100% {
        @include namespace-transform(rotate(360deg));
    }
}

/*
 * loader // spinner
 **********************************************************/

.namespace-loader {
    @include namespace-animation(namespace-loader 1s linear infinite);
    @include namespace-icon;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #999;
}

/*
 * General Layout
 **********************************************************/

.namespace-inner {
    position: relative;
    width: 1020px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}


